{% load static %}
<style type="text/css">
	.jumbotron{
		background-image: url("{% static "images/banner.jpg"%}");
		background-repeat: no-repeat;
 		background-size: 2400px 3200px;
	}
	.display-4{
		color: #FFFFFF;
	}
	.lead{
		color: #FFFFFF;
	}
	.para{
		color: #FFFFFF;
	}
</style>
<div class = "text-center">
	<div>
		<div class="jumbotron">
			</br>
</br>
		  <h1 class="display-4">GRADUATE MANAGEMENT SYSTEM</h1>
		  	<div class="container">
		  		<hr class="my-2">
			</div>
		  <p class="para">Have you any access for admin panel? Feel free to walk around.</p>
		  <a href="http://127.0.0.1:8000/admin/management/management/add/"><button class="btn btn-outline-success my-2 my-sm-0" >Add Graduate</button></a>
		</div>
	</div>
</div>
</br>